<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.data> 
		<DbProviderFactories>	
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySQL.Data.MySqlClient" />
		</DbProviderFactories>
	</system.data> 
	<connectionSrings>
	<add name="AddressBook"
	connectionString = "Server=localhost;Port=3306;Database=addressbook;Uid=root;Pwd=;charset=utf8" providerName="MySQL.Client.MySqlClient" />
	</connectionSrings>
</configuration>